<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <h2> <ion-title>Registrate</ion-title></h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="password" type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea placeholder="Cuentenos su caso..."></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Contacto"></ion-input>
  </ion-item>

  <ion-button shape="round">Guardar</ion-button>
</ion-content>
