<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>Casos</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-label>Sofia Mendes</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Laura Rodriguez</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Juana Vega</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Daniela Solorzano</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Mariana garcia</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Daniela Solorzano</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Valentina Segura</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Marcela Trombon</ion-label>
  </ion-item>
</ion-list>
  </ion-content>>

